*{
  padding:0 ;
  margin:0;
  box-sizing: border-box;
}

/* loader */

.spinner{
  height:100vh;
  display: flex;
  align-items:center;
  justify-content: center;
  z-index: 9999;
  background-color: #908e8e65;

}
.form-btn {
  width: 250px !important;
  margin-top: 30px !important;
}